<!-- Traigo el header que tengo en components -->
<app-header title="Iniciar sesión"></app-header>

<ion-content [fullscreen]="true">
    <div class="form">
        <app-logo></app-logo>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <app-custom-input
            icon="person-outline"
            label="Cédula"
            type="text"
            autocomplete="identificacion"
            [control]="loginForm.controls.identificacion">
          </app-custom-input>
          

            <div class="error" *ngIf="loginForm.controls.identificacion.errors && loginForm.controls.identificacion.touched">
                <span *ngIf="loginForm.controls.identificacion.errors?.['required']">La cedula es obligatoria</span>
                <span *ngIf="loginForm.controls.identificacion.errors?.['minlength']"> La cedula deve tener al menos 8 caracteres</span>
                <span *ngIf="loginForm.controls.identificacion.errors?.['maxlength']">La cedula deve tener maximo 10 caracteres</span>
                  <span *ngIf="loginForm.controls.identificacion.errors?.['pattern']">La cedula deve contener solo numeros</span>
            </div>

            <app-custom-input icon="lock-closed-outline" label="Contraseña" type="password"
                [control]="loginForm.controls.password">
            </app-custom-input>

            <div class="error" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.touched">
                <span *ngIf="loginForm.controls.password.errors?.['required']">La contraseña es obligatoria</span>
            </div>

            <p class="small"><a href="" routerLink="forgot-password">¿Olvidaste tu contraseña?</a></p>
            <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="loginForm.invalid">
                Ingresar
            </ion-button>
        </form>
        <p class="small">¿Aún no tienes cuenta? <a href="" routerLink="sign-up">Registrate</a></p>
    </div>


    <!-- para saber si estan conectados los campos de auth con el html de custom-input component
    {{  loginForm.value.identificacion }}
    {{  loginForm.value | json }} -->
</ion-content>