.software {
    font-size: 12px; /* Ajusta el tamaño según sea necesario */

}
.software .extrabold {
    font-weight: 800; /* Peso extra bold para "Coffee" */
}

.software .normal {
    font-weight: 400; /* Peso normal para "Trace" */
}