<app-header title="Recuperar contraseña"></app-header>

<ion-content [fullscreen]="true">
    <div class="form">
        <app-logo></app-logo>
        <form [formGroup]="inputs">
            <h3>Ingresa tu número de cédula</h3>
            <app-custom-input icon="id-card-outline" label="Cédula" type="text" autocomplete="cedula"
                [control]="inputs.controls.cedula" class="ion-margin">
            </app-custom-input>

            <div class="error" *ngIf="inputs.controls.cedula.errors && inputs.controls.cedula.touched">
                <span *ngIf="inputs.controls.cedula.errors?.['required']">Este campo es obligatorio</span>
                <span *ngIf="inputs.controls.cedula.errors?.['pattern']">La cédula debe contener solo números</span>
            </div>
            <ion-button expand="block" mode="ios" shape="round">Solicitar correo</ion-button>
        </form>
    </div>
</ion-content>