<app-header title="Unidad medida" [showMenu]="true"></app-header>
<app-side-menu [section]="'actividades'"></app-side-menu>
<ion-content id="main-content">
  <ion-grid fixed>
    <div *ngIf="!showForm">
      <ion-row>
        <ion-col size="12">
          <ion-card *ngFor="let item of unidades">
            <ion-card-header>
              <ion-card-title>{{ item.nombre }}</ion-card-title>
              <ion-card-subtitle>
                <span>ID: {{ item.id }}</span>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <samp>Descripcion: {{ item.descripcion }}</samp>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="showForm">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-input class="ion-margin" label="Ingresa el nombre de la unidad" label-placement="floating"
              fill="outline" type="text" [(ngModel)]="objunidad.nombre"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-input class="ion-margin" label="Ingresa la descripcion" label-placement="floating"
              fill="outline" type="text" [(ngModel)]="objunidad.descripcion"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button class="ion-margin" expand="block" color="primary" (click)="create()">Guardar</ion-button>
      <ion-button class="ion-margin" expand="block" color="danger" (click)="onCloseForm()">Volver</ion-button>
    </div>

  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="!showForm">
    <ion-fab-button (click)="onShowForm()" size="small" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>