<app-header title="Programacion" [showMenu]="true"></app-header>
<app-side-menu [section]="'actividades'"></app-side-menu>

<ion-content id="main-content">
  <!-- Formulario de Filtros -->
  <div class="ion-margin" *ngIf="!showForm">
    <ion-button expand="block" style="--background: #00a4f3;" (click)="toggleFilters()">
      {{ showFilters ? 'Ocultar Filtros' : 'Buscar' }}
    </ion-button>
  </div>
  <div *ngIf="showFilters" class="ion-margin">
    <ion-grid>
      <ion-row>
        <!-- Fecha Inicio -->
        <ion-col size="6" size-lg="3">
          <ion-item>
            <ion-label position="stacked">Fecha Inicio</ion-label>
            <ion-datetime-button datetime="datetime-start" class="ion-margin"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime-start" presentation="date" [(ngModel)]="filterStartDate"
                  (ionChange)="onDateChange('start', $event.detail.value)"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>

        <!-- Fecha Fin -->
        <ion-col size="6" size-lg="3">
          <ion-item>
            <ion-label position="stacked">Fecha Fin</ion-label>
            <ion-datetime-button datetime="datetime-end" class="ion-margin"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime-end" presentation="date" [(ngModel)]="filterEndDate"
                  (ionChange)="onDateChange('end', $event.detail.value)"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>

        <!-- Sucursal -->
        <ion-col size="6" size-lg="3">
          <ion-item>
            <ion-label position="stacked">Sucursal</ion-label>
            <ion-select class="ion-margin-top" interface="popover" [(ngModel)]="filterSucursal"
              placeholder="Selecciona sucursal">
              <ion-select-option *ngFor="let sucursal of sucursales" [value]="sucursal.nombre">
                {{ sucursal.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="6" size-lg="3">
          <ion-item>
            <ion-label position="stacked">Finca</ion-label>
            <ion-select class="ion-margin-top" interface="popover" [(ngModel)]="filterFinca"
              placeholder="Selecciona una finca">
              <ion-select-option *ngFor="let finca of fincas" [value]="finca.nombre">
                {{ finca.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" style="--background: #00a4f3;" (click)="applyFilters()">Aplicar Filtro</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" fill="clear" (click)="resetFilters()">Limpiar Filtro</ion-button>
        </ion-col>
      </ion-row>
      <div class="ion-margin-top" *ngIf="filteredProma.length > 0">
        <ion-button expand="block" color="success" [disabled]="filteredProma.length === 0"
          (click)="exportFilteredToExcel()">
          <ion-icon slot="start" name="download-outline"></ion-icon>
          Exportar a Excel
        </ion-button>
      </div>
    </ion-grid>
  </div>

  <!-- Tabla de Resultados -->
  <div class="table-wrapper" *ngIf="!showForm">
    <table class="sync-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Programacion</th>
          <th>Sucursal</th>
          <th>Fecha</th>
          <th>Finca</th>
          <th>Lote</th>
          <th>Trabajador</th>
          <th>Responsable</th>
          <th>Actividad</th>
          <th>Jornal</th>
          <th>Cantidad</th>
          <th>Estado</th>
          <th>Prioridad</th>
          <th>Observacion</th>
          <th>Habilitado</th>
          <!-- <th>Sincronizado</th>
          <th>Fecha Sincronizado</th>
          <th>Maquina</th> -->
          <th>Usuario</th>
          <th>Usuario Modificacion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let datos of filteredProma">
          <td>{{ datos.id }}</td>
          <td>{{ datos.programacion }}</td>
          <td>{{ datos.sucursal.nombre }}</td>
          <td>{{ datos.fecha }}</td>
          <td>{{ datos.finca.nombre }}</td>
          <td>{{ datos.lote }}</td>
          <td>
            <ng-container *ngFor="let t of datos.trabajadores; let i = index">
              {{ t.nombre }}<span *ngIf="i < datos.trabajadores.length - 1">, </span>
            </ng-container>
          </td>
          <td>{{ datos.responsable.name }}</td>
          <td>{{ datos.actividad.nombre }}</td>
          <td>{{ datos.jornal }}</td>
          <td>{{ datos.cantidades }}</td>
          <td>
            <div class="status-indicator" [ngClass]="getEstadoClass(datos.estado.nombre)">
              {{ datos.estado.nombre }}
              <span></span>
            </div>
          </td>
          <td>
            <div class="priority-indicator" [ngClass]="getPrioridadClass(datos.prioridad.nombre)">
              {{ datos.prioridad.nombre }}
              <span></span>
            </div>
          </td>
          <td>{{ datos.observacion }}</td>
          <td>{{ datos.habilitado }}</td>
          <!-- <td>{{ datos.sincronizado }}</td>
          <td>{{ datos.fecSincronizacion }}</td>
          <td>{{ datos.maquina }}</td> -->
          <td>{{ datos.usuario }}</td>
          <td>{{ datos.usuarioMod }}</td>
          <td>
            <ion-button color="warning" (click)="update(datos)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="delete(datos.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="showForm">
    <ion-grid fixed>
      <ion-row>
        <ion-grid fixed>
          <ion-row>

            <ion-col size="12" *ngIf="selecProgramacion && (userRol === '1' || userRol === '2')">
              <ion-item class="ion-margin">
                <ion-label position="floating">Estado</ion-label>
                <ion-select interface="popover" placeholder="Selecciona el estado"
                  [formControl]="inputs.controls.estadoId">
                  <!-- <ion-select-option *ngFor="let estado of estados" [value]="estado.id">
                    {{ estado.nombre }}
                  </ion-select-option> -->
                <ion-select-option value="3">Realizado</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-item class="ion-margin">
                <ion-label position="floating" *ngIf="selecProgramacion">Sucursal</ion-label>
                <ion-select interface="popover" placeholder="Selecciona la sucursal"
                  [formControl]="inputs.controls.sucursalId">
                  <ion-select-option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
                    {{ sucursal.nombre }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <div class="error" *ngIf="inputs.controls.sucursalId.errors && inputs.controls.sucursalId.touched">
                <span *ngIf="inputs.controls.sucursalId.errors?.['required']">La sucursal es obligatoria</span>
              </div>
            </ion-col>

            <ion-col size="12">
              <ion-item class="ion-margin">
                <ion-label position="floating" *ngIf="selecProgramacion">Finca</ion-label>
                <ion-select interface="popover" placeholder="Selecciona la Finca"
                  [formControl]="inputs.controls.fincaId">
                  <ion-select-option *ngFor="let finca of fincas" [value]="finca.id">
                    {{ finca.nombre }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <div class="error" *ngIf="inputs.controls.fincaId.errors && inputs.controls.fincaId.touched">
                <span *ngIf="inputs.controls.fincaId.errors?.['required']">La finca es obligatoria</span>
              </div>
            </ion-col>

            <ion-col size="12">
              <ion-item class="ion-margin">
                <ion-label position="floating" *ngIf="selecProgramacion">Responsable</ion-label>
                <ion-select interface="popover" placeholder="Seleciona al responsable"
                  [formControl]="inputs.controls.responsableId">
                  <ion-select-option *ngFor="let usuario of usuarios" [value]="usuario.id">
                    {{ usuario.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <div class="error" *ngIf="inputs.controls.responsableId.errors && inputs.controls.responsableId.touched">
                <span *ngIf="inputs.controls.responsableId.errors?.['required']">El Respponsable es obligatorio</span>
              </div>
            </ion-col>

            <ion-col size="12">
              <ion-item class="ion-margin">
                <ion-label position="stacked">Selecciona la fecha.</ion-label>
                <ion-datetime-button datetime="datetime-modal" class="ion-margin"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime id="datetime-modal" presentation="date" [formControl]="inputs.controls.fecha"
                      (ionChange)="onDateChange('form', $event.detail.value)"></ion-datetime>
                  </ng-template>
                </ion-modal>
              </ion-item>
              <div class="error" *ngIf="inputs.controls.fecha.errors && inputs.controls.fecha.touched">
                <span *ngIf="inputs.controls.fecha.errors?.['required']">La fecha es obligatoria</span>
              </div>
            </ion-col>

            <ion-col size="12">
              <ion-item class="ion-margin">
                <ion-label position="floating" *ngIf="selecProgramacion">Actividad</ion-label>
                <ion-select class="select-actividad" interface="alert" placeholder="Selecciona la Actividad"
                  [formControl]="inputs.controls.actividadId">
                  <ion-select-option *ngFor="let actividad of actividades" [value]="actividad.id">
                    {{ actividad.nombre }} - {{ actividad.unidad?.nombre }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <div class="error" *ngIf="inputs.controls.actividadId.errors && inputs.controls.actividadId.touched">
                <samp *ngIf="inputs.controls.actividadId.errors?.['required']">La actividad es obligatoria</samp>
              </div>
            </ion-col>

            <ion-col size="12">
              <ion-item class="ion-margin">
                <ion-label position="floating" *ngIf="selecProgramacion">Prioridad</ion-label>
                <ion-select interface="popover" placeholder="Seleciona la prioridad"
                  [formControl]="inputs.controls.prioridadId">
                  <ion-select-option *ngFor="let prioridad of prioridades" [value]="prioridad.id">
                    {{ prioridad.nombre }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <app-custom-input icon="time-outline" label="Ingresa el jornal" type="text" autocomplete="jornal"
                [control]="inputs.controls.jornal">
              </app-custom-input>
              <div class="error" *ngIf="inputs.controls.jornal.errors && inputs.controls.jornal.touched">
                <span *ngIf="inputs.controls.jornal.errors?.['required']">El jornal es obligatorio</span>
              </div>
            </ion-col>
            <ion-col size="12">
              <app-custom-input icon="podium-outline" label="Ingresa la cantidad" type="text" autocomplete="cantidad"
                [control]="inputs.controls.cantidad"></app-custom-input>
            </ion-col>
            <div class="error" *ngIf="inputs.controls.cantidad.errors && inputs.controls.cantidad.touched">
              <span *ngIf="inputs.controls.cantidad.errors?.['required']">La cantidad es obligatoria</span>
            </div>
          </ion-row>
          <ion-button class="ion-margin" expand="block" color="primary" (click)="createOrUpdate()">Guardar</ion-button>
          <ion-button class="ion-margin" expand="block" color="danger" (click)="onCloseForm()">Volver</ion-button>
        </ion-grid>
      </ion-row>
    </ion-grid>

  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="!showForm">
    <ion-fab-button (click)="onShowForm()" size="small" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>