<app-header title="Actividades" [showMenu]="true"></app-header>
<app-side-menu [section]="'actividades'"></app-side-menu>

<ion-content id="main-content">
  <ion-grid fixed>
    <div *ngIf="!showForm">
      <ion-row>
        <ion-col size="6" *ngFor="let item of actividad">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ item.nombre }}</ion-card-title>
              <ion-card-subtitle>
                <strong>ID:</strong> {{ item.id }}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p><strong>Descripción:</strong> {{ item.descripcion }}</p>
              <p>
                <strong>Control por lotes:</strong> 
                {{ item.controlPorLote ? 'Sí' : 'No' }}
              </p>
              <p><strong>Unidad:</strong> {{ item.unidnombre }}</p>
              <p><strong>Subcategoría:</strong> {{ item.subcatenom }}</p>
            </ion-card-content>
            <ion-row class="ion-justify-content-center">
              <ion-col size="auto">
                <ion-button fill="clear" color="warning" (click)="editActividad(item)">
                  <ion-icon name="create-outline" slot="start"></ion-icon> Editar
                </ion-button>
              </ion-col>
              <ion-col size="auto">
                <ion-button fill="clear" color="danger" (click)="deleteActividad(item.id)">
                  <ion-icon name="trash-outline" slot="start"></ion-icon> Eliminar
                </ion-button>                
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="showForm" [formGroup]="inputs">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <app-custom-input icon="person-outline" label="Ingresa el nombre de la actividad" type="text"
              autocomplete="nombre" [control]="inputs.controls.nombre">
            </app-custom-input>
            <div class="error" *ngIf="inputs.controls.nombre.errors && inputs.controls.nombre.touched">
              <span *ngIf="inputs.controls.nombre.errors?.['required']">El nombre es obligatorio</span>
              <span *ngIf="inputs.controls.nombre.errors?.['minlength']">Debe tener al menos 3 caracteres</span>
            </div>
          </ion-col>

          <ion-col size="12">
            <app-custom-input icon="document-text-outline" label="Ingresa una descripción" type="text"
              autocomplete="descripcion" [control]="inputs.controls.descripcion">
            </app-custom-input>
            <div class="error" *ngIf="inputs.controls.descripcion.errors && inputs.controls.descripcion.touched">
              <span *ngIf="inputs.controls.descripcion.errors?.['required']">La descripción es obligatoria</span>
              <span *ngIf="inputs.controls.descripcion.errors?.['minlength']">Debe tener al menos 5 caracteres</span>
              <span *ngIf="inputs.controls.descripcion.errors?.['maxlength']">Máximo 150 caracteres</span>
            </div>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-label>Control por lote</ion-label>
              <ion-radio-group formControlName="controlPorLote">
                <ion-radio slot="start" [value]="1">Sí</ion-radio>
                <ion-radio class="ion-margin" slot="start" [value]="0">No</ion-radio>
              </ion-radio-group>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-select interface="popover" placeholder="Seleccionar Unidad" formControlName="unidadId">
                <ion-select-option *ngFor="let row of unidad" [value]="row.id">
                  {{ row.nombre }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <div class="error" *ngIf="inputs.controls.unidadId.errors && inputs.controls.unidadId.touched">
              <span *ngIf="inputs.controls.unidadId.errors?.['required']">Debe seleccionar una unidad</span>
            </div>
          </ion-col>

          <ion-col size="12">
            <ion-item>
              <ion-select interface="popover" placeholder="Selecciona Sub Categoría" formControlName="subCategoriaId">
                <ion-select-option *ngFor="let row of subcategoria" [value]="row.id">
                  {{ row.nombre }}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <div class="error" *ngIf="inputs.controls.subCategoriaId.errors && inputs.controls.subCategoriaId.touched">
              <span *ngIf="inputs.controls.subCategoriaId.errors?.['required']">Debe seleccionar una subcategoría</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-button class="ion-margin-top" expand="block" color="primary" (click)="createOrUpdate()">Guardar</ion-button>
        <ion-button class="ion-margin-top" expand="block" color="danger" (click)="onCloseForm()">Volver</ion-button>
      </ion-grid>
    </div>

  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="!showForm">
    <ion-fab-button (click)="onShowForm()" size="small" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
